body {
  background: #f1f5f9;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

small {
  color: red;
}

pre {
  background: #f8fafc;
  padding: 10px;
  font-size: 13px;
}

.link-btn {
  background: none;
  border: none;
  color: #2563eb;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}
